@use "../../../styles/vars";

.first-screen {
    margin-bottom: 96px;

    @include vars.before('md') {
        margin-bottom: 48px;
    }

    .dark-bg {
        padding-top: 64px;
        @include vars.before('md') {
            padding-top: 32px;
        }
    }

    picture {
        border-radius: 16px 16px 0 0;
        overflow: hidden;
        display: block;
        aspect-ratio: 160 / 56;

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            object-position: bottom;
        }
    }

    .facts {
        display: flex;
        border-radius: 0 0 16px 16px;
        overflow: hidden;
        background: #1f5756;
        gap: 1px;

        @include vars.before('md') {
            flex-direction: column;
        }
    }

    .fact {
        flex-grow: 1;
        background: var(--accent-11);
        padding: 16px 40px 24px;
        color: var(--white);
        transition: .3s;

        @include vars.hover {
            background: var(--accent);
        }

        @include vars.before('md') {
            padding-inline: 16px;
        }

        &__title {
            font: 400 clamp(28px, 3vw ,36px)/1.33 var(--font-guardian);
        }

        &__text {
            font: 400 clamp(14px, 1.5vw ,16px)/1.5 var(--font-forma-djr);
        }
    }
}
