@use "variables";
@use "../helpers/functions";

@mixin img-contain {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100%;
    max-width: 90%;
    width: auto !important;
    height: auto;
    margin: auto;
}

@mixin scrollbar() {

    @-moz-document url-prefix() {
        scrollbar-color: rgba(154, 185, 191, 0.5) var(--color-bg-3);
        scrollbar-width: thin !important;
    }

    @media screen and (min-width: variables.$w992) {
        &::-webkit-scrollbar {
            width: 5px;
            border-radius: 4px;
            height: 5px;
        }

        &::-webkit-scrollbar-track {
            background-color: var(--color-bg-2);
            border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(154, 185, 191, 0.5);
            border-radius: 4px;
        }
    }
}

@mixin layer($z) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $z;
}

@mixin picture($h, $fit) {

    position: relative;
    display: block;
    padding-top: $h;

    & img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: $fit;
        color: transparent;
    }

}

@mixin box-square {
    padding-top: 100%;
    position: relative;
    display: flex;
}

@mixin line-clamp($number) {
    letter-spacing: normal;
    display: -webkit-box;
    -webkit-line-clamp: $number;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


@mixin bgimage_cover {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    transition: 0.3s ease;

}

@mixin modal-gray {
    font-size: 14px
        /*14*/
    ;
    line-height: 140%;
    color: #666666;
}


@mixin bgimage_cover-scale {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    transition: 0.3s ease;
    transform: scale(1.0004);

    &:hover {
        transform: scale(1.05);
    }
}

@mixin bgimage_contain {
    position: relative;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
}

@mixin h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;

    @media screen and (max-width: variables.$w1376) {
        font-size: 22px;
    }
}

@mixin rating {
    display: flex;
    align-items: center;

    & ul {
        display: flex;
        align-items: center;
        list-style-type: none;
    }

    & li {
        margin-right: functions.rem_(5);
    }
}

@mixin size-full($n) {
    $val: 100% / $columns * $n;
    width: #{calc(#{$val})
}
}

@mixin padd-top($px) {
    padding-top: functions.rem_($px);

    @media screen and (max-width: variables.$w1440) {
        $val: (1440 * $px) / 1920;
        padding-top: functions.rem_($val);
    }

    @media screen and (max-width: variables.$w1376) {
        $val2: (1376 * $px) / 1920;
        padding-top: functions.rem_($val2);
    }

    @media screen and (max-width: variables.$w1100) {
        $val2: (1600 * $px) / 1920;
        padding-top: functions.rem_($val2);
    }

    @media screen and (max-width: variables.$w992) {
        $val2: (940 * $px) / 1920;
        padding-top: if($val2 > 50, functions.rem_($val2), functions.rem_(50));
    }
}

@mixin padd-bottom($px) {
    padding-bottom: functions.rem_($px);

    @media screen and (max-width: variables.$w1440) {
        $val: (1440 * $px) / 1920;
        padding-bottom: functions.rem_($val);
    }

    @media screen and (max-width: variables.$w1376) {
        $val2: (1376 * $px) / 1920;
        padding-bottom: functions.rem_($val2);
    }

    @media screen and (max-width: variables.$w1100) {
        $val2: (1600 * $px) / 1920;
        padding-bottom: functions.rem_($val2);
    }

    @media screen and (max-width: variables.$w992) {
        $val2: (940 * $px) / 1920;
        padding-bottom: if($val2 > 50, functions.rem_($val2), functions.rem_(50));
    }
}

@mixin padd-left($px) {
    padding-left: functions.rem_($px);

    @media screen and (max-width: variables.$w1440) {
        $val: (1440 * $px) / 1920;
        padding-left: functions.rem_($val);
    }

    @media screen and (max-width: variables.$w1376) {
        $val2: (1376 * $px) / 1920;
        padding-left: functions.rem_($val2);
    }

    @media screen and (max-width: variables.$w1100) {
        $val2: (1600 * $px) / 1920;
        padding-left: functions.rem_($val2);
    }

    @media screen and (max-width: variables.$w992) {
        $val2: (940 * $px) / 1920;
        padding-left: if($val2 > 50, functions.rem_($val2), functions.rem_(50));
    }
}

@mixin padd-right($px) {
    padding-right: functions.rem_($px);

    @media screen and (max-width: variables.$w1440) {
        $val: (1440 * $px) / 1920;
        padding-right: functions.rem_($val);
    }

    @media screen and (max-width: variables.$w1376) {
        $val2: (1376 * $px) / 1920;
        padding-right: functions.rem_($val2);
    }

    @media screen and (max-width: variables.$w1100) {
        $val2: (1600 * $px) / 1920;
        padding-right: functions.rem_($val2);
    }

    @media screen and (max-width: variables.$w992) {
        $val2: (940 * $px) / 1920;
        padding-right: if($val2 > 50, functions.rem_($val2), functions.rem_(50));
    }
}

@mixin padd-x($px) {
    padding-top: functions.rem_($px);
    padding-bottom: functions.rem_($px);

    @media screen and (max-width: variables.$w1440) {
        $val: (1440 * $px) / 1920;
        padding-bottom: functions.rem_($val);
        padding-top: functions.rem_($val);
    }

    @media screen and (max-width: variables.$w1376) {
        $val2: (1376 * $px) / 1920;
        padding-bottom: functions.rem_($val2);
        padding-top: functions.rem_($val2);
    }

    @media screen and (max-width: variables.$w1100) {
        $val2: (1600 * $px) / 1920;
        padding-bottom: functions.rem_($val2);
        padding-top: functions.rem_($val2);
    }

    @media screen and (max-width: variables.$w992) {
        $val2: (940 * $px) / 1920;

        padding-bottom: if($val2 > 50, functions.rem_($val2), functions.rem_(50));
        padding-top: if($val2 > 50, functions.rem_($val2), functions.rem_(50));
    }
}

@mixin padd-y($px) {
    padding-left: functions.rem_($px);
    padding-right: functions.rem_($px);

    @media screen and (max-width: variables.$w1440) {
        $val2: (1440 * $px) / 1920;
        padding-left: functions.rem_($val2);
        padding-right: functions.rem_($val2);
    }

    @media screen and (max-width: variables.$w1376) {
        $val2: (1376 * $px) / 1920;
        padding-left: functions.rem_($val2);
        padding-right: functions.rem_($val2);
    }

    @media screen and (max-width: variables.$w1100) {
        $val2: (1600 * $px) / 1920;
        padding-left: functions.rem_($val2);
        padding-right: functions.rem_($val2);
    }

    @media screen and (max-width: variables.$w992) {
        $val2: (940 * $px) / 1920;
        padding-left: if($val2 > 50, functions.rem_($val2), functions.rem_(50));
        padding-right: if($val2 > 50, functions.rem_($val2), functions.rem_(50));
    }
}

@mixin font-size-40 {
    font-size: 40px;

    @media screen and (max-width: variables.$w1200) {
        font-size: 38px;
    }

    @media screen and (max-width: variables.$w992) {
        font-size: 36px;
    }

    @media screen and (max-width: variables.$w576) {
        font-size: 30px;
    }

    @media screen and (max-width: variables.$w480) {
        font-size: 26px;
    }
}

@mixin font-size-22 {
    font-size: 22px;

    @media screen and (max-width: variables.$w760) {
        font-size: 20px;
    }

    @media screen and (max-width: variables.$w576) {
        font-size: 19px;
    }

    @media screen and (max-width: variables.$w480) {
        font-size: 16px;
    }
}

@mixin font-size-18 {
    font-size: 18px;
}

@mixin font-size-16 {
    font-size: 16px;

    @media screen and (max-width: variables.$w992) {
        font-size: 14px;
    }
}

@mixin font-size-15 {
    font-size: 15px;
}

@mixin font-size-14 {
    font-size: 14px;
}

@mixin font-size-13 {
    font-size: 13px;
}

@mixin font-size-12 {
    font-size: 12px;
}

@mixin splide-nav {
     
    align-items: center;

    @media screen and (min-width: variables.$w576) {
        display: flex;
        gap: 8px;
    }

    &-prev,
    &-next {

        width: 56px;
        height: 56px;
        border: 1px solid transparent;
        background-color: var(--accent);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.3s ease;

        @media screen and (min-width: variables.$w1440) {
            width: 56px;
            height: 56px;
        }

        @media screen and (min-width: variables.$w1200) {
            width: 50px;
            height: 50px;
        }

        &:hover {
            background-color: var(--accent-11);
        }


        & svg {
            width: 14px;
            height: 14px;
            fill: #fff;
        }

        &[disabled] {
            background-color: transparent;
            border-color: var(--text-3);
            pointer-events: none;

            & svg {
                fill: var(--text-3);
            }
        }
    }
}

@mixin font-h1() {

    font-size: 32px;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: .04em;
    font-family: var(--font-guardian);
}

@mixin font-h2() {
    font-size: 28px;
    font-weight: 400;
    line-height: 141%;
    letter-spacing: .04em;
    font-family: var(--font-guardian);

    @media screen and (min-width: variables.$w1440) {
        font-size: 48px;
    }

    @media screen and (min-width: variables.$w992) {
        font-size: 36px;
        line-height: 112%;
    }

    @media screen and (min-width: variables.$w576) {
        font-size: 28px;
    }
}

@mixin font-h3() {
    font-size: 36px;
    font-weight: 400;
    line-height: 100%;
    font-family: var(--font-guardian);
    letter-spacing: .04em;
}

@mixin font-h4() {
    font-size: 20px;
    font-weight: 400;
    line-height: 112%;
    letter-spacing: .04em;
    font-family: var(--font-guardian);

    @media screen and (min-width: variables.$w576) {
        font-size: 28px;
    }
}

@mixin font-h5() {}

@mixin splide-counter {}
