@use "../../../styles/vars";

.apartments-group {
    $ancestor: &;
    background: var(--accent-12);
    padding: 10px;
    border-radius: 12px;
    border: 2px solid transparent;
    transition: .3s;
    overflow: hidden;
    @include vars.from('xl') {
        padding-block: 24px;
    }
    @include vars.from('xxl') {
        padding: 24px;
    }

    summary {
        display: grid;
        gap: 4px;
        grid-template-columns: 1fr 1fr;
        font: 400 16px/24px vars.$font-default;
        cursor: pointer;
        color: var(--text-1);
        padding: 10px;
        margin: -10px;

        @include vars.before('xl') {
            & > *:nth-child(3n) {
                text-align: right;
            }
        }
        @include vars.from('xl') {
            padding: 24px;
            margin-block: -24px;
        }
        @include vars.from('xxl') {
            padding: 24px 56px;
            margin: -24px -40px;
        }
        @include vars.from('xl') {
            grid-template-columns: 2fr 2fr 2fr 2fr 3fr 3fr;
            font: 400 18px/28px vars.$font-default;
        }

        @include vars.hover {
            background: var(--accent-14);
        }

        & > * {
            white-space: nowrap;
        }

    }

    &__toggler {
        display: flex;
        justify-content: end;
        align-items: center;
        font-weight: 500;
        color: var(--accent-11);

        .icon {
            fill: var(--accent-11);
            margin-left: 8px;
            transition: .3s;
        }
    }

    &__list {
        display: grid;
        gap: 8px;
        max-height: 0;

        .btn {
            width: 100%;

            .icon {
                margin-left: 4px;
            }

        }
    }

    &__paginator {
        display: flex;
        justify-content: center;
        margin-top: 4px;
    }

    &[open] {
        background: var(--white);
        border-color: var(--accent-11);

        #{$ancestor} {
            &__toggler {
                .icon {
                    transform: rotate(180deg);
                }
            }
            &__list {
                max-height: none;
                animation: max-height-animation;
                animation-duration: .3s;
                margin-top: 24px;
            }
        }
    }
}
