@use "../../../styles/vars";

.passport {
    background: vars.$color-white;
    font: 400 15px/24px vars.$font-default;
    letter-spacing: 0.02em;
    padding: 16px;
    border-radius: 16px;
    position: relative;
    @include vars.from('md') {
        padding: 24px;
        font-size: 18px;
        line-height: 28px;
    }

    > * + * {
        margin-top: 8px;
    }

    &__id {
        color: var(--text-2);
    }

    &__price {
        color: var(--accent-21);
        font-size: 24px;
        line-height: 36px;
        @include vars.from('xl') {
            font-size: 32px;
            line-height: 44px;
        }
    }

    &__terms {
        display: flex;
        justify-content: space-between;
        gap: 16px;
        flex-wrap: wrap;
        @include vars.from('xxl') {
            justify-content: start;
            gap: 0;
        }

        li {
            @include vars.from('xxl') {
                &:not(:last-child) {
                    &:after {
                        content: "";
                        display: inline-block;
                        margin-inline: 8px;
                        margin-bottom: 3px;
                        width: 4px;
                        height: 4px;
                        border-radius: 50%;
                        background: var(--accent-14);
                    }
                }
            }
        }

        span {
            white-space: nowrap;
        }

        .attr {
            color: var(--text-2);
        }

        .value {
            color: var(--text-1);
            font-weight: 500;
        }
    }

    &__fav {
        position: absolute;
        top: 16px;
        right: 24px;
        cursor: pointer;

        .passport-apartments & {
            top: 84px;
        }

        svg {
            fill: var(--text-3);
        }

        @include vars.hover {
            svg {
                fill: var(--text-1);
            }
        }
    }

    &__prices {
        margin-top: 16px;
    }

    &__currency {
        display: flex;
        position: absolute;
        top: 16px;
        right: 24px;

        button {
            font: 400 14px/20px vars.$font-default;
            color: var(--text-2);
            background: var(--accent-12);
            border: none;
            padding: 8px 14px;
            cursor: pointer;

            &.active {
                background: var(--accent-11) !important;
                color: var(--white);
            }
            @include vars.hover {
                background: var(--accent-14);
            }
        }

        li:first-child {
            button {
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
            }
        }
        li:last-child {
            button {
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
            }
        }
    }

    &__params {
        display: grid;
        padding: 8px 16px;
        gap: 12px;
        grid-template-columns: repeat(4, 1fr);
        background: var(--accent-12);
        border-radius: 12px;
        margin-top: 16px;

        .attr {
            font: 400 13px/16px vars.$font-default;
            color: var(--text-2);
        }
    }
}
