include ../minicard/minicard.pug

mixin  best-offers
    section.section-best-offers
        .container
            .best-offers
                .best-offers__title Новые предложения
                .best-offers__tabs
                    ul
                        li(data-filter="1").is-active: span Квартиры
                        li(data-filter="2"): span Новостройки
                        li(data-filter="3"): span Дома на Новой Риге
                        li(data-filter="4"): span Дома на Рублёвке
                        li(data-filter="5"): span Участки

                    ul.toggle-currency
                        li.is-active: span ₽
                        li: span $
                        li: span €

                .best-offers__slider
                    .splide(data-slider="offers")
                        .splide__track
                            .splide__list
                                each item in [1,1,1,1,1,1,1,1]
                                    .splide__slide
                                        +minicard
                .best-offers__bottom
                    .best-offers__more
                        a(href='#')
                            button.btn.btn-green
                                +icons('#ic_house')
                                span Смотреть все предложения
                    .best-offers__nav
                        .best-offers__nav-prev(disabled): +icons('#ic_arr-left')
                        .best-offers__nav-next: +icons('#ic_arr-right')
