mixin  partners
    -
        const partners = [
            '/img/other/partner-logo/partner-logo.png',
            '/img/other/partner-logo/partner-logo-1.png',
            '/img/other/partner-logo/partner-logo-2.png',
            '/img/other/partner-logo/partner-logo-3.png',
            '/img/other/partner-logo/partner-logo-4.png',
            '/img/other/partner-logo/partner-logo-5.png',
            '/img/other/partner-logo/partner-logo-6.png',
        ]

    section.section-partners
        .container
            .partners
                .partners__title Наши партнёры
                .partners__slider
                    .splide(data-slider="partners")
                        .splide__track
                            .splide__list
                                each item in partners
                                    .splide__slide
                                        .item-partner
                                            +bgimage(item)
                .partners__bottom
                    .partners__nav
                        .partners__nav-prev(data-slider-prev="partners"): +icons('#ic_arr-left')
                        .partners__nav-next(data-slider-next="partners"): +icons('#ic_arr-right')
