@use "../../../../../styles/vars";

.page-details {
    display: flex;
    align-items: center;
    overflow: auto;
    margin-inline: var(--container-out);
    padding-inline: var(--container-padding);
    padding-bottom: 10px;
    margin-bottom: -10px;

    &>div {

        display: flex;
        align-items: center;
        white-space: nowrap;

        &::after {
            content: '';
            width: 4px;
            height: 4px;
            display: inline-block;
            border-radius: 50%;
            background-color: var(--accent-14);
            margin: 0 10px;
        }

        &:last-child {
            &::after {
                display: none;
            }
        }
    }


    &__jk,
    &__inmap,
    &__metro {
        & a {
            display: flex;
            white-space: nowrap;
            align-items: center;
            color: var(--accent-11);
            font-weight: 500;

            @include vars.hover {
                color: var(--accent);
            }
        }

        & svg {
            margin-right: 6px;
        }
    }
}
