.city-page {
    &.section-special-offers {
        padding-top: 48px;
        padding-bottom: 25px;
    }
    &.seo-text {
        background: var(--accent-12);
        border-bottom: 1px solid var(--accent-13);
        padding-bottom: 88px;
    }
}
