@use "../../styles/vars";

.get-to {
    display: flex;
    margin-inline: var(--container-out);
    padding-inline: var(--container-padding);
    overflow-x: auto;

    ul {
        display: flex;

        li {
            display: flex;
            gap: 4px;
            color: var(--accent-11);
            align-items: center;
            &:not(:last-child) {
                &:after {
                    content: "";
                    display: block;
                    width: 4px;
                    height: 4px;
                    background-color: var(--accent-14);
                    border-radius: 50%;
                    margin-inline: 4px 8px;
                }
            }
        }
    }

    span {
        white-space: nowrap;
    }

    &__map {
        display: flex;
        margin-left: 24px;
        color: var(--accent-11);
    }
}

.residentials {
    .page-title {
        background-color: var(--bg);
    }
    &-wrp {
        background: var(--bg);
    }
    &__grid {
        @include vars.from('md') {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 0 32px;
        }
    }
    &__sticky-wrp {
        grid-row: span 3;
    }

    .gallery-big,
    &__content,
    &__anchors {
        grid-column: 1 / 3;
    }

    .gallery-big {
        margin-bottom: 16px;
    }

    &__content {
        h4 {
            font: 400 clamp(20px,4vw,28px)/1.6 vars.$font-captions;
            letter-spacing: 0.04em;
        }
    }

    &__anchors {
        margin-inline: var(--container-out);
        overflow-x: auto;
        margin-block: 24px;
        background-color: var(--white);
        position: sticky;
        top: var(--hgt-header);
        z-index: 30;
        @include vars.from('md') {
            background-color: transparent;
            margin-inline: -12px;
        }
    }
    .sticky-content {
        @include vars.from('md') {
            top: var(--hgt-header);
            position: sticky;
        }
    }
    &__description {
        background: var(--white);
        padding: 16px;
        border-radius: 16px;


        p {
            font: 400 15px/24px vars.$font-default;
            letter-spacing: 0.02em;
            hyphens: auto;
        }
        .dotted-list {
            @include vars.from('xl') {
                columns: 2;
                column-gap: 32px;
            }
        }
    }
    &__filter {
        background: var(--white);
        padding: 16px;
        border-radius: 16px;
        margin-top: 16px;

        h4 {
            margin-bottom: 16px;
        }

        form {
            display: grid;
            grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
            gap: 8px;
        }
    }
    &__list {
        margin-top: 16px;
        background: var(--white);
        padding: 16px;
        border-radius: 16px;

        &-content {
            display: grid;
            gap: 8px;
            margin-top: 16px;
        }

        &-header {
            @include vars.from('xl') {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        .list-header__controls {
            @include vars.from('xl') {
                flex-grow: 0;
            }
        }

        .list-header__controls-sort {
            min-width: 100%;
            @include vars.from('xl') {
                min-width: 400px;
            }
        }
    }
    &__count {
        font: 400 16px/1.5 vars.$font-default;
        color: var(--text-2);
        @include vars.before('xl') {
            margin-bottom: 8px;
        }
    }

}
