@use "../../../styles/vars";

.gallery-big {
    position: relative;

    .main {
        picture {
            overflow: hidden;
            border-radius: 16px;
            aspect-ratio: 3/2;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }

        &.splide {
            .splide {
                &__pagination {
                    position: absolute;
                    bottom: 0;
                    padding: 12px 0;
                    opacity: 0;

                    @include vars.from('md') {
                        display: none;
                    }

                    button {
                        background: #FFFFFF;

                        &.is-active {
                            opacity: 1;
                        }
                    }
                }

                &__arrows {
                    display: none;
                }



            }

            &.is-visible-pagination {
                & .splide {
                    &__pagination {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &__controls {
        position: absolute;
        inset: 0;
        pointer-events: none;

        @include vars.before('md') {
            display: none;
        }
    }

    &__all {
        position: absolute;
        right: 20px;
        top: 20px;
        background: var(--white);
        display: flex;
        line-height: 22px;
        align-items: center;
        gap: 8px;
        padding: 10px 16px;
        border-radius: 20px;
        pointer-events: initial;
        cursor: pointer;
        font: 500 14px/20px vars.$font-default;
        opacity: 80%;

        @include vars.hover {
            opacity: 1;
        }

        span {
            margin-bottom: -2px;
        }
    }

    &__arrows {
        position: absolute;
        right: 20px;
        bottom: 20px;
        display: flex;
        gap: 8px;

        .arrow {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: var(--white);
            display: flex;
            align-items: center;
            justify-content: center;
            pointer-events: initial;
            opacity: .8;
            cursor: pointer;
            transition: opacity .3s;

            &:hover {
                opacity: 1;
            }

            &.disabled {
                opacity: .4;
                pointer-events: none;
            }
        }
    }

    &__counter {
        position: absolute;
        left: 20px;
        bottom: 20px;
        background: var(--white);
        font: 400 16px/1.5 vars.$font-default;
        padding: 9px 16px 7px;
        border-radius: 20px;
    }

    .thumbs {
        margin-top: 12px;

        @include vars.before('md') {
            display: none;
        }

        picture {
            overflow: hidden;
            border-radius: 12px;
            aspect-ratio: 3/2;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                cursor: pointer;
            }
        }

        &.splide {
            .splide {
                &__arrows {
                    display: none;
                }

                &__slide {
                    border: none;
                    opacity: .5;
                    transition: opacity .3s;

                    &.is-active,
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &__badges {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        margin-bottom: 16px;

        @include vars.from('md') {
            position: absolute;
            z-index: 35;
            left: 20px;
            top: 20px;
            max-width: 75%;
            gap: 6px;
        }

        .badge {
            font: 400 14px/20px vars.$font-default;
            padding: 4px 16px;
            border-radius: 14px;
            white-space: nowrap;
            color: #fff;

            @include vars.from('md') {
                font-size: 15px;
                line-height: 24px;
            }

            &.gold {
                background: var(--accent);
                color: var(--white);
            }

            &.green {
                background: var(--accent-11);
                color: var(--white);
            }

            &.white {
                background: var(--white);
                color: var(--text-1);
            }
        }

    }

    &>picture {
        padding-top: 56%;
        background-color: #fff;
        position: relative;
        border-radius: 16px;
        overflow: hidden;

        & img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }



}
