@use "../../../styles/vars";

.calc-request {
    background-image: linear-gradient(180deg, #fff 144px, var(--accent-12) 144px );
    padding-bottom: 32px;
}

.calc-form {
    background: var(--white);
    padding: 40px;
    border-radius: 16px;
    max-width: 800px;
    gap: 32px;

    &__wrapper {
        padding: 24px;
        border-radius: 24px;
        background-size: cover;
        background-position: center;
    }

    h3 {
        font: 400 clamp(24px, 2.5vw, 36px)/1.33 var(--font-guardian);
        letter-spacing: .04em;
        margin-bottom: 12px;
    }

    &__inputs {
        gap: 24px;

        @include vars.before('md') {
            flex-direction: column;
        }
    }

    .input-wrapper {
        flex-grow: 1;
        width: 100%;

        label {
            margin-bottom: 8px;
            font: 400 16px/1.5 var(--font-forma-djr);
            color: var(--text-2);
        }

        input {
            background: var(--accent-12);
            color: var(--text-2);
            font: 400 18px/28px var(--font-forma-djr);
            padding: 14px 16px;
            border: none;
            border-radius: 12px;

            &:focus-visible {
                outline: 2px solid var(--accent-11);
            }

            &:hover,
            &:active {
                background: var(--accent-13);
            }

            &:focus {
                background: var(--white);
            }

        }
    }

    .btn-wrapper {
        .btn {
            margin-bottom: 16px;
        }
        .flex {
            justify-content: center;

            a {
                color: var(--accent-11);

                @include vars.hover {
                    color: var(--accent);
                }

            }
        }
    }
}
