@font-face {
    font-family: 'Forma DJR Cyrillic';
    src: url('/fonts/subset-FormaDJRCyrillicText-Regular.woff2') format('woff2'),
        url('/fonts/subset-FormaDJRCyrillicText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Forma DJR Cyrillic';
    src: url('/fonts/subset-FormaDJRCyrillicDisplay-Medium.woff2') format('woff2'),
        url('/fonts/subset-FormaDJRCyrillicDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Guardian Egyptian LCG';
    src: url('/fonts/subset-GuardianEgyptianLCG-Regular.woff2') format('woff2'),
        url('/fonts/subset-GuardianEgyptianLCG-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}