@use "./vars";

.flex {
    display: flex;
    align-items: center;
}

.v-flex {
    display: flex;
    flex-direction: column;
}

// do not stretch block with currency. make currency buttons square
@include vars.from('md') {
    .page-filter__item:has(label[for^="currency"]):not(:has(.page-filter__item)) {
        flex-grow: 0;
    }
}

.estate-list:has(+ .recently-viewed) {
    padding-bottom: 0;
}


main > section:last-child {
    border-bottom: 1px solid var(--accent-13);
    padding-bottom: 32px;
    @include vars.from('md') {
        padding-bottom: 75px;
    }
}

.city-place .page-title h2 {
    margin-bottom: 12px;
}

.dark-bg {
    background: var(--accent-12);
}

input::placeholder {
    user-select: none;
}

.page-wishlist {
    .section-form-question {
        padding-bottom: 32px;

        @include vars.from('md') {
            padding-bottom: 75px;
        }
    }
}

.owners-exclusives {
    .splide__track {
        @include vars.before('xxl') {
            overflow: visible;
        }
    }

}
