@use "../../../styles/vars";

.owner-cases {
    overflow: visible;
    padding-block: 96px;

    @include vars.before('md') {
        padding-block: 48px;
    }

    h2 {
        text-align: center;
        margin-bottom: 48px;
        @include vars.before('md') {
            margin-bottom: 24px;
        }
    }

    .btn-green {
        width: 512px;
        max-width: 100%;
    }

    .splide {
        overflow: hidden;

        &__track {
            overflow: visible;
        }

        &__arrow {
            width: 56px;
            height: 56px;
            background: var(--accent);
            opacity: 1;
            transition: .3s;

            @include vars.hover {
                background: var(--accent-11);
                opacity: 1;
            }

            svg {
                width: 13px;
                height: 26px;
                fill: #fff;
            }

            &--prev {
                left: 18%;
            }

            &--next {
                right: 18%;
            }
        }

        &__slide {
            .holder {
                transition: .4s;
                transform: scale(0.78);
                opacity: 0;
            }

            &.is-active {
                z-index: 5;
                .holder {
                    opacity: 1;
                    transform: scale(1) translateX(0);
                }
            }

            &.is-prev {
                .holder {
                    transform: scale(.78) translateX(-70%);
                    opacity: .4;
                }
            }

            &.is-next {
                .holder {
                    transform: scale(.78) translateX(70%);
                    opacity: .4;
                }
            }
        }
    }

    .btn-wrapper {
        justify-content: center;
        margin-top: 48px;
    }
}

.case-slide {
    border-radius: 24px;
    overflow: hidden;
    border: 8px solid var(--white);

    @include vars.before('xl') {
        //min-height: 75vh;
    }

    @include vars.from('xl') {
        position: absolute;
        width: 1056px;
        height: 560px;
        left: 50%;
        transform: translateX(-50%);
    }

    @include vars.from('lg') {
        width: 1056px;
        height: 560px;
        left: 50%;
        transform: translateX(-50%);
    }

    &__wrapper {
        position: relative;
        @include vars.before('xl') {
            //aspect-ratio: 66 / 35;
            //min-height: 75vh;
        }
        @include vars.from('xl') {
            height: 560px;
        }
    }

    picture {

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__description {
        left: 0;
        right: 0;
        bottom: 0;
        padding: 24px 40px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 10.1%, #FFFFFF 40.38%);

        @include vars.before('md') {
            padding: 24px;
        }

        @include vars.from('xl') {
            position: absolute;
            padding-top: 128px;
        }

        h3 {
            text-align: center;
            margin-bottom: 24px;
            font: 400 clamp(28px, 3vw , 36px)/1 var(--font-guardian);
        }
    }

    &__params {
        display: flex;
        justify-content: center;
        gap: 48px;
        @include vars.before('md') {
            flex-direction: column;
            gap: 8px;
        }
    }

    &__param {
        display: flex;
        gap: 12px;

        &-icon {
            color: var(--accent);
        }

        &-name {
            font: 400 15px/24px var(--font-forma-djr);
            color: var(--text-2);
        }

        &-value {
            font: 500 20px/1.6 var(--font-forma-djr);
        }
    }
}
