@use "../../../styles/vars";
@forward "./components/list-header/list-header.scss";
@forward "./components/list-body/list-body.scss";
@forward "./components/list-footer/list-footer.scss";

.estate-list {
    background: var(--accent-12);
    padding: 24px 0;
    overflow: visible;
    @include vars.from('md') {
        padding-top: 46px;
        padding-bottom: 88px;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &.list {
        @container (width > 1120px) {
            
            & .minicard .minicard__top {
              min-width:444px;
              width: 25%;
            }

            & .minicard__slider picture {
                aspect-ratio: unset;
                height: 100%;
                width: 100%;
            }

            & .minicard__title {
                padding-bottom: 29px;
            }
        }

        @container (width > 992px) {
            .minicard__main {
                --card-padding: 22px 30px;
            }

            .minicard__price {
                padding: 21px 0 21px;
            }
        }
    }
}
