@use "../../../styles/vars";

.section-our-services {
    background-color: var(--bg);
    padding: 25px 0;

    @media screen and (min-width: vars.$w1440) {
        padding: 67px 0 30px;
    }

    @media screen and (min-width: vars.$w992) {
        padding: 60px 0 30px;
    }
}

.our-services {
    &__title {
        padding-bottom: 10px;
        @include vars.font-h2;

        @media screen and (min-width: vars.$w576) {
            padding-bottom: 24px;
        }
    }

    &__desc {
        font-size: 14px;
        color: var(--text-1);
        padding-bottom: 18px;
        max-width: 1056px;
        line-height: 140%;
        letter-spacing: .02em;

        @media screen and (min-width: vars.$w992) {
            line-height: 160%;
            padding-bottom: 30px;
        }

        @media screen and (min-width: vars.$w1200) {
            font-size: 18px;
        }

        @media screen and (min-width: vars.$w1440) {
            padding-bottom: 54px;
            font-size: 20px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;

        @media screen and (min-width: vars.$w1200) {
            margin: -5px;
        }

        @media screen and (min-width: vars.$w576) {
            margin: -3px;
        }
    }

    &__item {

        margin-bottom: 8px;

        @media screen and (min-width: vars.$w576) {
            width: 50%;
            padding: 6px;
            margin-bottom: 0;
        }

        @media screen and (min-width: vars.$w1200) {
            width: 33.33%;
            padding: 10px;
        }
    }
}

.card-services {

    background-color: #fff;
    border-radius: 16px;
    padding: 15px;
    display: flex;
    gap: 16px;

    @media screen and (min-width: vars.$w992) {
        padding: 24px;
        border-radius: 24px;
        gap: 24px;
    }

    &__icon {
        min-width: 105px;
        width: 105px;
        height: 105px;
        background-color: var(--bg);
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (min-width: vars.$w1440) {
            min-width: 160px;
            width: 160px;
            height: 160px;
        }

        @media screen and (min-width: vars.$w992) {
            min-width: 110px;
            width: 110px;
            height: 110px;
        }

        & .bgimage {
            width: 72px;
            height: 72px;
            @include vars.bgimage-contain;

            @media screen and (min-width: vars.$w1440) {
                width: 72px;
                height: 72px;
            }

            @media screen and (min-width: vars.$w992) {
                width: 60px;
                height: 60px;
            }
        }
    }

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: .02em;
        padding-bottom: 5px;

        @media screen and (min-width: vars.$w576) {
            font-size: 18px;
            padding-bottom: 12px;
        }
    }

    &__desc {
        color: var(--text-2);
        font-size: 14px;
        line-height: 140%;
        padding-bottom: 12px;

        @media screen and (min-width: vars.$w992) {
            font-size: 16px;
        }
    }

    &__link {

        display: flex;


        & a {
            color: var(--accent-11);
            display: flex;
            align-items: center;
            gap: 12px;
            font-weight: 500;
            font-size: 16px;

            & svg {
                fill: #fff;
                height: 8px;
                width: 5px;
            }

            &:hover {
                color: var(--accent);

                & span {
                    background-color: var(--accent);
                }
            }
        }

        & span {
            width: 24px;
            height: 24px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: var(--accent-11);
            border-radius: 50%;
        }
    }


}