.section-company-about {
    padding: 0px 0 30px;
    background-color: var(--bg);

    @media screen and (min-width: $w576) {
        padding: 50px 0;
    }
}

.company-about {
    &__wrp {
        background-color: #fff;
        border-radius: 16px;
        padding: 24px;

        @media screen and (min-width: $w992) {
            display: flex;
            gap: 32px;
        }

        @media screen and (min-width: $w1440) {
            padding: 60px 64px;
            gap: 88px;
        }
    }

    &__logo {
        width: 100%;
        max-width: 328px;
        margin: auto;
        padding-bottom: 20px;

        @media screen and (min-width: $w576) {
            padding-bottom: 0;
        }

        & img {
            width: 100%;
        }
    }

    &__desc {

        padding-bottom: 12px;

        & .formated-text {


            & *:first-child {
                margin-top: 0;
            }

            & p {
                font-size: 18px;
                letter-spacing: 2%;
                margin: 14px 0;

                @media screen and (max-width: $w576) {
                    font-size: 14px;
                    line-height: 142%;
                }
            }

            & h2 {
                margin-bottom: 0;



                @media screen and (max-width: $w576) {
                    line-height: 160%;
                    font-size: 24px;
                }
            }
        }

        & h2 {
            line-height: 160%;
        }
    }

    &__btn {
        padding-top: 10px;

        & .btn {

            padding-left: 1.8em;
            padding-right: 1.8em;

            @media screen and (max-width: $w480) {
                width: 100%;
            }
        }
    }


}