.section-special-offers {
    padding: 35px 0 20px;

    @media screen and (min-width: $w1440) {
        padding: 126px 0 90px;
    }
}

.special-offers {
    &__title {
        @include font-h2;
        padding-bottom: 18px;

        @media screen and (min-width: $w1200) {
            padding-bottom: 50px;
        }



    }

    &__nav {
        @include splide-nav;

    }

    &__bottom {
        display: none;

        @media screen and (min-width: $w576) {
            display: flex;
            align-items: center;
            gap: 24px
        }
    }

    &__slider {
        padding-bottom: 0;

        @media screen and (min-width: $w576) {
            padding-bottom: 40px;
        }

        & .splide {
            &__pagination {
                position: relative;
                padding: 24px 0;
            }
        }
    }

    & .splide {
        &__track {
            overflow: visible;
        }
    }

}

.splide-counter {
    background-color: var(--bg);
    padding: 5px 12px;
    height: 56px;
    border-radius: 30px;
    width: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--text-1);
    letter-spacing: 2%;
}