mixin card-categories(data)
    .card-categories
        .card-categories__preview
            .card-categories__bg
                +picture('/img/other/btn-category-big-v3')
            a(href='/category.html')
                .card-categories__title Городская недвижимость
                .card-categories__price От 5 800 000 ₽
                .card-categories__bottom
                    .card-categories__offers 512 предложений
                    .card-categories__tosub: +icons('#ic_arr-right')
        .card-categories__sub
            .card-categories__title Городская недвижимость
            .card-categories__slider
                .splide
                    .splide__track
                        .splide__list
                            each item in data.sub
                                .splide__item
                                    .sub-cat-card
                                        .sub-cat-card__icons: +bgimage(item.icon)
                                        .sub-cat-card__title= item.title
            .card-categories__action
                .card-categories__tocat
                    a(href='#'): button.btn.btn-green Вся городская недвижимость
                .card-categories__nav
                    .card-categories__nav-prev: +icons('#ic_arr-left')
                    .card-categories__nav-next: +icons('#ic_arr-right')



mixin all-categories
    section.section-all-categories
        .container
            .all-categories
                .all-categories__list
                    each item in [1,1,1,1]
                        .all-categories__item: +card-categories({
                            sub: [
                                {
                                    title: 'Квартиры',
                                    icon: '/img/icons/icon-subcategory/01-flats.svg',
                                },
                                {
                                    title: 'Апартаменты',
                                    icon: '/img/icons/icon-subcategory/02-apartments.svg',
                                },
                                {
                                    title: 'Аренда',
                                    icon: '/img/icons/icon-subcategory/03-rent.svg',
                                },
                                {
                                    title: 'Все новостройки',
                                    icon: '/img/icons/icon-subcategory/04-complexes.svg',
                                },
                                {
                                    title: 'Аренда',
                                    icon: '/img/icons/icon-subcategory/03-rent.svg',
                                },
                                {
                                    title: 'Все новостройки',
                                    icon: '/img/icons/icon-subcategory/04-complexes.svg',
                                },
                                {
                                    title: 'Аренда',
                                    icon: '/img/icons/icon-subcategory/03-rent.svg',
                                },
                                {
                                    title: 'Все новостройки',
                                    icon: '/img/icons/icon-subcategory/04-complexes.svg',
                                },
                                {
                                    title: 'Жилые комплексы',
                                    icon: '/img/icons/icon-subcategory/03-rent.svg',
                                },
                            ]
                        })