.section-all-categories {
    padding: 48px 0;

    @media screen and (min-width: $w1440) {
        padding: 95px 0;
    }
}

.all-categories {
    &__list {

        margin: -4px;

        @media screen and (min-width: $w576) {
            margin: -12px;
        }

        @media screen and (min-width: $w992) {
            display: flex;
            flex-wrap: wrap;
        }

        @media screen and (min-width: $w1440) {
            margin: -16px;
        }
    }

    &__item {

        padding: 4px;

        @media screen and (min-width: $w576) {
            padding: 12px;
        }

        @media screen and (min-width: $w992) {
            width: 50%;
        }

        @media screen and (min-width: $w1440) {
            padding: 16px;
        }
    }


}


.card-categories {

    background-color: var(--accent-12);
    padding: 16px;
    border-radius: 12px;
    position: relative;
    overflow: hidden;

    @media screen and (min-width: $w760) {
        padding: 24px;
    }

    @media screen and (min-width: $w1440) {
        border-radius: 24px;
        padding: 36px 32px;
    }

    &__bg {
        @include layer(1);

        & picture,
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block
        }
    }

    &__preview {
        @include layer(3);
        transition: 0.5s ease 0.05s;

        & a {
            @include layer(4);
            background-color: rgba(0, 0, 0, 0.5);
            padding: 16px;
            color: #fff;
            display: flex;
            flex-direction: column;

            @media screen and (min-width: $w576) {
                padding: 24px;
            }

            @media screen and (min-width: $w1440) {
                padding: 36px 32px;
            }
        }

        & .card-categories {
            &__title {
                padding-bottom: 10px;
                padding-top: 3px;

                @media screen and (min-width: $w1440) {
                    padding-bottom: 14px;
                    padding-top: 5px;
                    @include font-h3;
                }
            }
        }
    }



    &__sub {
        min-height: 124px;
    }

    &__bottom {
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__offers {
        letter-spacing: 2%;
        font-size: 16px;
        font-weight: 500;
    }

    &__tosub {
        display: none;
        margin-left: auto;

        @media screen and (min-width: $w576) {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            width: 48px;
            height: 48px;
            border-radius: 50%;

            & svg {
                width: 14px;
                height: 14px;
                fill: var(--accent-11);
            }
        }

        @media screen and (min-width: $w760) {
            width: 56px;
            height: 56px;
        }
    }

    &__title {
        padding-bottom: 24px;
        @include font-h4;

        @media screen and (min-width: $w576) {
            font-size: 26px;
        }

        @media screen and (min-width: $w1440) {
            font-size: 28px;
            padding-bottom: 36px;
        }
    }

    &__tocat {
        & .btn {
            @media screen and (min-width: $w992) {
                font-size: 18px;
                font-weight: 500;
                letter-spacing: 2%;
                padding-left: 1.8em;
                padding-right: 1.8em;
            }
        }
    }

    &__price {
        letter-spacing: 4%;

        @media screen and (min-width: $w576) {
            font-size: 16px;
        }

        @media screen and (min-width: $w1440) {
            letter-spacing: 2%;
        }
    }

    &__slider {
        padding-bottom: 24px;
        display: none;

        @media screen and (min-width: $w576) {
            display: block;
        }

        @media screen and (min-width: $w992) {
            padding-bottom: 28px;
        }
    }

    &__action {
        display: flex;
        justify-content: space-between;
    }

    &__nav {
        display: none;

        @media screen and (min-width: $w576) {
            display: flex;
            gap: 8px;
        }

        &-prev,
        &-next {

            width: 56px;
            height: 56px;
            border: 1px solid transparent;
            background-color: var(--accent);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &:hover {
                background-color: var(--accent-11);
            }


            & svg {
                width: 14px;
                height: 14px;
                fill: #fff;
                object-fit: cover;
            }

            &[disabled] {
                background-color: transparent;
                border-color: var(--text-3);
                pointer-events: none;
                opacity: 1;

                & svg {
                    fill: var(--text-3);
                }
            }
        }

    }

    &:hover {
        & .card-categories {



            &__bg {
                transform: scale(0);
                transition: 0.3s ease;
            }

            &__preview {
                opacity: 0;
                pointer-events: none;

                & .card-categories__title {
                    transform: translateY(-5px);
                    transition: 0.3s ease;
                    font-size: 28px;
                    color: var(--text-1);
                }
            }
        }
    }
}


.sub-cat-card {

    &__icons {

        border-radius: 50%;
        margin: auto;
        padding-bottom: 12px;
        transition: 0.3s ease;

        & .bgimage {

            @include bgimage-contain;
            width: 96px;
            min-width: 96px;
            height: 96px;
            margin: auto;
            background-size: 60% auto;
            background-color: #fff;
            border-radius: 50%;
            transition: 0.3s ease;
        }
    }

    &__title {
        text-align: center;

        @media screen and (min-width: $w576) {
            font-size: 14px;
            font-weight: 500;
        }
    }

    &:hover {
        & .sub-cat-card {
            &__icons {
                border-radius: 24px;

                & span {
                    border-radius: 24px;
                }
            }

            &__title {
                color: var(--accent);
            }
        }
    }

}