footer {
    background-color: var(--bg);
    padding: 22px 0;

    @media screen and (min-width: $w992) {
        padding: 40px 0;
    }

    @media screen and (min-width: $w1440) {
        padding: 62px 0;
    }
}

.footer {

    letter-spacing: 2%;

    &__logo {

        padding-bottom: 28px;

        & .bgimage {
            width: 145px;
            height: 55px;

            @include bgimage-contain;
        }
    }

    &__label {
        font-size: 18px;
        color: var(--text-1);
        padding-bottom: 9px;

        @media screen and (min-width: $w1440) {
            font-size: 20px;
            padding-top: 4px;
            padding-bottom: 12px;
        }
    }

    &__row {
        border-bottom: 1px solid var(--accent-14);
        padding-bottom: 0px;
        margin-bottom: 20px;

        @media screen and (min-width: $w1200) {
            display: flex;
        }

        @media screen and (min-width: $w1440) {
            padding-bottom: 36px;
            margin-bottom: 65px;
        }

        &:last-child {
            margin-bottom: 0;
            border: none;
            padding-bottom: 0;
        }
    }

    &__main {
        @media screen and (min-width: $w576) {
            width: 60%;
            flex-basis: 60% !important;
        }
    }

    &__col {

        padding-bottom: 20px;

        & ul {
            color: var(--text-2);

            & a {
                color: var(--text-2);
                transition: 0.3s ease;

                &:hover {
                    color: var(--accent-11);
                    text-decoration: underline;
                }
            }

            & li {
                padding: 7px 0;

                @media screen and (min-width: $w1440) {
                    padding: 9.5px 0;
                }
            }
        }
    }

    &__phone {

        padding-bottom: 12px;
        margin-bottom: 18px;

        & label {
            display: block;
            padding-bottom: 10px;
        }

        & a {
            color: var(--accent);
            font-size: 20px;

            &:hover {
                color: var(--accent-11);
            }
        }
    }

    &__msgr {

        padding-bottom: 10px;

        & ul {
            display: flex;
            gap: 8px;

            & a {
                width: 32px;
                height: 32px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                background-color: var(--accent);
                border-radius: 50%;


                &:hover {
                    background-color: var(--accent-11);
                }

                & svg {
                    width: 20px;
                    height: 14px;
                    fill: #fff;
                }
            }
        }
    }

    &__link {

        padding-bottom: 12px;

        @media screen and (min-width: $w576) {
            padding-bottom: 0;
        }

        & a {
            color: var(--text-2);
            font-size: 16px;
            transition: 0.3s ease;

            &:hover {
                color: var(--accent-11);
            }
        }

        & li {
            padding: 5px 0;
        }

        & ul {
            @media screen and (min-width: $w1200) {
                display: flex;
                gap: 20px;
            }
        }
    }

    &__about {
        color: var(--text-1);
        padding-bottom: 12px;

        & p {

            margin: 10px 0;
            line-height: 143%;

            &:first-child {
                @media screen and (min-width: $w1440) {
                    margin-top: 0;
                    line-height: 165%;
                }
            }

        }
    }

    &__dev {

        color: var(--text-1);

        @media screen and (min-width: $w576) {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;
        }

        @media screen and (min-width: $w1440) {
            justify-content: flex-start;
        }

        & label {
            display: block;
        }

        & a {
            color: var(--accent);
            font-size: 16px;

            @media screen and (min-width: $w1440) {
                font-size: 20px;
                padding-top: 12px;
            }

            &:hover {
                color: var(--accent-11);
            }
        }
    }

    &__left {
        @media screen and (min-width: $w1200) {
            width: 240px;
        }

        @media screen and (min-width: $w1440) {
            width: 25.5%;
            padding-right: 40px;
        }
    }

    &__content {
        @media screen and (min-width: $w576) {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
        }

        @media screen and (min-width: $w1200) {
            width: calc(100% - 240px);
        }

        @media screen and (min-width: $w1440) {
            width: calc(75%);

        }

        &>div {
            @media screen and (min-width: $w576) {
                flex-grow: 1;
                flex-basis: 260px;
            }

            @media screen and (min-width: $w1200) {
                flex-basis: 20px;
            }
        }
    }
}