div(data-menu="container")
    .footer
        .footer__row
            .footer__left
                .footer__logo: a(href='/'): +bgimage('/img/common/logo.svg')
            .footer__content
                .footer__col
                    .footer__label Городская недвижимость
                        ul
                            li: a(href='#') Элитные квартиры
                            li: a(href='#') Апартаменты
                            li: a(href='#') Элитные жилые комплексы
                            li: a(href='#') Новостройки
                            li: a(href='#') Особняки
                            li: a(href='#') Аренда
                            li: a(href='#') Специальные предложения
                .footer__col
                    .footer__label Заговордная недвижимость
                        ul
                            li: a(href='#') Коттеджи
                            li: a(href='#') Таунхаусы
                            li: a(href='#') Посёлки
                            li: a(href='#') Участки
                            li: a(href='#') Аренда
                .footer__col
                    .footer__label Услуги компании
                        ul
                            li: a(href='#') О компании
                            li: a(href='#') Консалтинг
                            li: a(href='#') Юридические услуги
                            li: a(href='#') Инвестиции
                            li: a(href='#') Аналитика
                            li: a(href='#') Собственникам
        .footer__row
            .footer__left
                .footer__phone
                    label Контактный телефон
                    a(href='#') +7 (499) 755-20-20

                .footer__msgr
                    ul
                        li: a(href='#'): +icons('#ic_tg')
                        li: a(href='#'): +icons('#ic_vk')
                        li: a(href='#'): +icons('#ic_yt')
                
            .footer__content
                .footer__main
                    .footer__about
                        p © 2025, Metrium Premium
                        p Вся размещённая информация носит исключительно рекламный характер и ни при каких условиях не является публичной офертой, определяемой положениями ГК РФ. Указанные качественные характеристики, варианты визуализации объектов не обладают признаками абсолютной идентичности проектной и рабочей документации и размещены исключительно в рекламных целях.
                    .footer__link
                        ul
                            li: a(href='#') Политика конфиденциальности
                            li: a(href='#') Правила обработки персональных данных

                .footer__dev
                    label Разработка и поддержка:
                    a(href='#') Promicom