@use "../../../styles/vars";

.district-selector {
    background: var(--accent-12);
    display: flex;
    align-items: center;
    background: var(--accent-12);
    border-radius: 12px;
    font: 400 16px/24px vars.$font-default;
    height: 56px;
    padding: 16px;
    position: relative;
    cursor: pointer;
    @include vars.from('md') {
        font: 400 18px/28px vars.$font-default;
    }

    &:hover {
        background: var(--accent-14);
    }

    &:after {
        content: "";
        width: 10px;
        min-width: 10px;
        height: 10px;
        background-image: url("data:image/svg+xml,%3Csvg width='8' height='6' viewBox='0 0 8 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.00001 5.28019C3.85663 5.28019 3.71327 5.22545 3.60396 5.11619L0.164144 1.67634C-0.0546739 1.45752 -0.0546739 1.10275 0.164144 0.884017C0.382873 0.665289 0.737577 0.665289 0.956412 0.884017L4.00001 3.92779L7.04362 0.884124C7.26244 0.665395 7.61711 0.665395 7.83582 0.884124C8.05474 1.10285 8.05474 1.45763 7.83582 1.67644L4.39605 5.1163C4.28669 5.22557 4.14333 5.28019 4.00001 5.28019Z'/%3E%3C/svg%3E%0A");
        position: absolute;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        transition: transform 0.3s ease;
        margin-left: 15px;
        right: 24px;
    }
}
