@use "../../../styles/vars";

.owners-services {
    padding-bottom: 48px;

    .services-grid {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        @include vars.before('md') {
            grid-template-columns: 1fr;
        }
    }

    .card-services {
        padding-right: 24px;
        transition: .3s;

        &__icon {
            width: 140px;
            min-width: 140px;
            transition: .3s;
        }

        &__title {
            transition: .3s;
        }

        &__main {
            //width: 288px;
        }

        &.highlighted {
            padding-right: 24px;

            .card-services__icon {
                width: 160px;
                min-width: 160px;
                background: var(--accent-12) !important;
            }

            .card-services__title {
                color: var(--white) !important;
            }
        }

        @include vars.hover {
            //padding-right: 24px;

            .card-services {
                &__icon {
                    background: var(--accent-13);
                    width: 160px;
                    min-width: 160px;
                }

                &__title {
                    color: var(--accent);
                }
            }
        }
    }
}
