@use "../../../styles/vars";

.factoid {
    background: var(--bg);
    padding-block: 32px 40px;
    @include vars.from('lg') {
        padding-block: 64px 80px;
    }

    &__block {
        background: var(--white);
        padding: var(--container-padding);
        border-radius: 24px;
        @include vars.from('xxl') {
            padding: 48px;
        }

    }

    &__main {
        @include vars.from('lg') {
            display: grid;
            gap: 48px;
            grid-template-columns: 1fr 1fr;
        }
        @include vars.from('xxl') {
            grid-template-columns: 1fr 800px;
        }
    }

    &__main-footer {
        display: flex;
        gap: 8px;
        margin-top: 36px;
        flex-wrap: wrap;

        .btn {
            padding-inline: 24px;
            min-width: auto;
            @include vars.before('md') {
                width: 100%;
            }
        }

        li {
            @include vars.before('md') {
                width: 100%;
            }
        }
    }

    &__note {
        font: 400 clamp(14px, 1.5vw, 18px)/1.56 vars.$font-default;
        color: var(--text-2);
        margin-bottom: 9px;
    }

    &__title {
        font: 400 clamp(24px, 4vw, 48px)/1.25 vars.$font-captions;
        letter-spacing: .04em;
        margin-bottom: 30px;
    }

    &__description {
        p {
            font: 400 clamp(14px, 1.5vw, 18px)/1.56 vars.$font-default;
            letter-spacing: .02em;
            margin-block: 12px;
            hyphens: auto;
        }
    }

    &__facts {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        margin-top: 24px;
        @include vars.from('xl') {
            gap: 24px;
        }
    }

    &__fact {
        background: var(--white);
        padding: 16px 24px;
        border-radius: 16px;

        h3 {
            font: 400 clamp(24px, 3vw, 36px)/1.33 vars.$font-captions;
            color: var(--accent);
            margin-bottom: 8px;
        }

        .subtitle {
            font: 400 16px/1.5 vars.$font-default;
            color: var(--text-1);
        }

        @include vars.hover {
            h3 {
                color: var(--accent-11);
            }
        }
    }
}

.gallery-facts {
    border-radius: 16px;
    overflow: hidden;
    position: relative;

    picture {
        aspect-ratio: 200 / 133;
    }

    &__controls {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        .arrow {
            padding: 10px;
            border-radius: 20px;
            background: var(--white);
            cursor: pointer;
            opacity: .8;

            &.disabled {
                opacity: .4;
                pointer-events: none;
            }

            @include vars.hover {
                opacity: 1;
            }

            .icon {
                width: 20px;
                height: 20px;
            }
        }
    }

    &__counter {
        font: 400 16px/1.5 vars.$font-default;
        padding: 8px 16px;
        background: var(--white);
        border-radius: 20px;
    }
}
