mixin card-awards
    .card-awards
        .card-awards__main
            .card-awards__name Aldar Properties Awards
            .card-awards__desc TOP Performing Moscow Agency
            .card-awards__year 2023
        .card-awards__image
            +bgimage('/img/other/badge-awards.jpg')
