@use "../../../styles/vars";

.btn {
    padding: 0.8em 1.5em 0.85em 1.5em;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    height: 56px;
    white-space: nowrap;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    background-color: var(--accent);
    border-radius: 12px;
    letter-spacing: .02em;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
    cursor: pointer;
    line-height: 140%;

    @media screen and (min-width: vars.$w1200) {
        height: 50px;
        font-size: 16px;


        & svg {
            width: 20px;
            height: 20px;
        }
    }

    @media screen and (min-width: vars.$w1440) {
        height: 56px;
        font-size: 18px;
        padding: 0.8em 2.05em 0.85em 2.05em;
    }

    & span,
    & svg {
        position: relative;
        z-index: 2;
    }

    &::before {
        @media screen and (min-width: vars.$w576) {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            transition: 0.5s ease;
            width: 0px;
            height: 100%;
            background-color: var(--accent-11);
            z-index: 1;
            opacity: 0.1;
        }
    }

    &:hover {
        @media (any-hover: hover) {
            &::before {
                width: 200%;
                height: 200%;
                transition: 0.5s ease 0.05s;
                opacity: 1;
            }
        }
    }

    &:active {
        opacity: 0.8;
    }

    &:active,
    &:focus {
        outline: none;
    }

    &:disabled {
        background-color: #ccc;
        color: rgba(0, 0, 0, 0.40);
        cursor: not-allowed;
        opacity: 1;

        &:hover {
            @media (any-hover: hover) {
                opacity: 0.9;
            }
        }
    }

    & svg {
        fill: #fff;
        min-width: 24px;

        &:not(:last-child) {
            margin-right: 0.4em;

            @media screen and (min-width: vars.$w1440) {
                margin-right: 0.4em;
            }
        }

        &:last-child {
            margin-left: 1em;

            @media screen and (min-width: vars.$w1440) {
                margin-left: 0.4em;
            }
        }
    }

    & span {
        margin-top: 1px;
    }

    &.btn-white {
        background-color: #fff;
        color: var(--accent);

        &:hover {
            @media (any-hover: hover) {
                color: var(--accent);
            }
        }

        &:disabled {
            color: #B8B8B8;
            border-color: var(--color-bg-1);
        }
    }

    &.btn-black {
        background-color: #000;
        color: #fff;



        &:hover {
            @media (any-hover: hover) {
                background-color: var(--main);
            }
        }


    }

    &.btn-light {
        background-color: var(--color-bg-2);
        color: var(--accent);

        &:hover {
            @media (any-hover: hover) {
                color: var(--accent);
                background-color: var(--color-bg-3);
            }

        }

        &:disabled {
            color: #B8B8B8;
            border-color: var(--color-bg-1);
        }
    }

    &.btn-line {
        background-color: transparent;
        border: 1px solid var(--accent-14);
        color: var(--text-1);

        & svg {
            fill: var(--text-1);
            transition: 0.4s ease;
        }

        &::before {
            background-color: var(--accent-11);
        }

        &:hover {
            @media (any-hover: hover) {
                border-color: var(--accent-11);
                color: #fff;
                background-color: transparent;

                &::before {
                    width: 200%;
                    height: 200%;
                    transition: 0.4s ease-in 0.05s;
                }

                & svg {
                    fill: #fff;
                }
            }
        }
    }

    &.btn-full {
        width: 100%;
    }

    &.btn-small {
        height: 43px;
        font-size: 15px;
        padding: .7em 1.5em .8em 1.5em;
        font-weight: 500;
    }

    &.btn-wide {
        width: 100%;
    }

    &.btn-green {
        background-color: var(--accent-11);
        color: #fff;

        & svg {
            fill: #fff;
        }

        &::before {
            background-color: var(--accent);
        }

        &:hover {
            @media (any-hover: hover) {
                color: #fff;

                & svg {
                    fill: #fff;
                }
            }
        }
    }

    &.btn-transparent {
        background-color: transparent;
        color: var(--text-2);

        @media (any-hover: hover) {
            &:hover {
                background-color: var(--accent-14);

                &:before {
                    background-color: var(--accent-14);
                    z-index: -1;
                }
            }
        }
    }

    &.btn-secondary {}

    &.btn-xsmall {
        height: 32px;
        font-size: 14px;
        padding: 0.4em 2.5em 0.5em 2.5em;
        font-weight: 500;
    }

    &.btn-loading {

        pointer-events: none;

        &::after {
            content: '';
            width: 0.8em;
            min-width: 0.8em;
            height: 0.8em;
            border: 2px solid #fff;
            border-radius: 50%;
            border-left-color: transparent !important;
            margin-left: 10px;
            transition: transform 0.5s linear;
            animation: 0.5s linear loadingrotate infinite;
            display: inline-block;
            white-space: nowrap;
            flex-wrap: nowrap;
            position: relative;
            left: 5px;
        }
    }

    &.btn-success {
        &::after {
            content: '';
            width: 15px;
            height: 9px;
            border: 2px solid #fff;
            animation: none;
            min-width: 12px;
            display: inline-block;
            border-top: none;
            border-right: none;
            transform: rotate(-45deg) translateX(4px);
            margin-left: 10px;
            position: relative;
            left: 5px;
        }
    }

    &[disabled] {
        opacity: 0.9;
        cursor: not-allowed;
    }



}

.hover-ripple {
    position: relative;
    overflow: hidden;

    & .icon-burger,
    & svg {
        position: relative;
        z-index: 2;
    }

    &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        border-radius: 50%;
        transition: 0.4s ease-out;
        width: 0px;
        height: 0px;
        background-color: var(--accent);
        z-index: 1;
    }

    &:hover {
        &::before {
            width: 200%;
            height: 200%;
            transition: 0.4s ease-in 0.05s;
        }
    }
}



@keyframes loadingrotate {
    to {
        transform: rotate(360deg);
    }
}

.buttons-group {
    display: flex;

    .btn {
        width: 100%;
        font: 500 16px/1.5 vars.$font-default;

        @include vars.before('md') {
            background: var(--accent-11);
        }

        @include vars.from('md') {
            background: var(--accent-12);
            color: var(--text-2);
            font: 500 18px/28px vars.$font-default;
            height: 56px;
            padding-inline: 25px;

            &:hover {
                color: var(--text-1);
            }

            &:before {
                background: var(--accent-13);
            }
        }

        @include vars.from('xl') {
            &:not(:first-child) {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            &:not(:last-child) {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        &.active {
            background: var(--accent-11);
            color: var(--white);
        }
    }
}

button,
.btn {
    &.close {
        border: none;
        cursor: pointer;
        background: var(--accent-12);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border-radius: 12px;
        color: var(--text-3);

        &:hover {
            @media (any-hover: hover) {
                background: transparent;
                color: var(--text-2);
            }
        }

        &:active {
            background: var(--accent-11);
            color: var(--white);
        }
    }
}
