@use "../../../styles/vars";
@use "./parts/page-details/page-details";

.page-title {
    padding-block: 24px;
    overflow: visible;

    @include vars.from('md') {
        padding-top: 48px;
        padding-bottom: 12px;
        &--apartment {
            padding-top: 32px;
        }
    }

    .breadcrumbs {
        margin-bottom: 12px;
    }

    h1 {
        font: 400 28px/40px vars.$font-captions;
        letter-spacing: .04em;
        margin-block: 10px 15px;

        @include vars.from('md') {
            font: 400 48px/60px vars.$font-captions;
            margin-block: 15px 48px;
        }
    }

    h4 {
        font-size: 20px;
        font-weight: 400;
        line-height: 1.6;
        letter-spacing: .04em;
        font-family: vars.$font-default;

        @media screen and (min-width: vars.$w576) {
            font-size: 28px;
        }
    }

    .toggler {
        display: flex;
        justify-content: center;

        @include vars.from('md') {
            display: none;
        }

        .btn {
            width: 100%;
            max-width: 400px;
            height: 52px;
            font: 500 16px/1.5 vars.$font-default;
        }
    }

    &__filter {
        .page-filter__modal-heading {
            display: none;
        }

        &.sm-modal {
            position: fixed;
            inset: 0;
            z-index: vars.$z-modal;
            background: rgba(0, 0, 0, .7);
            backdrop-filter: blur(2px);
            overflow: auto;

            .toggler {
                display: none;
            }

        }
    }

    &--apartment {
        & h1 {
            @include vars.from('md') {
                margin-bottom: 16px;
            }
        }
    }

    &--owners.page-title {
        h1 {
            font: 400 clamp(28px, 5vw, 64px)/1.25 vars.$font-captions;
            text-wrap: balance;
            margin-bottom: 36px;

            @include vars.before('xl') {
                margin-bottom: 12px;
            }
        }
    }
}
