@use "../../../styles/vars";

.page-title {
  padding-block: 24px;
  overflow: visible;

  .breadcrumbs {
    margin-bottom: 12px;
  }

  h1 {
    margin-bottom: 16px;
    @include vars.font-h2
  }

  .btn-wrapper {
    display: flex;
    justify-content: center;
    @include vars.from('md') {
      display: none;
    }
    .btn {
      width: 100%;
      max-width: 400px;
    }
  }

  &__filter {
    &.show {
      .btn-wrapper {
        display: none;
      }
      .page-filter {
        display: block;
      }
    }
  }
}

.page-filter {
  display: none;
  @include vars.from('md') {
    display: block;
  }
  &__item {
    width: 100%;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    fieldset {
      margin: 0;
    }
  }

}