@use "../../../styles/vars";

.management {
    padding-block: 32px;
    @include vars.from('lg') {
        padding-block: 64px;
    }

    h2 {
        line-height: 1;
        margin-top: 6px;
        margin-bottom: 54px;
    }

    &__managers {
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;

        @include vars.from('md') {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(410px, 1fr));
        }
    }

    &__footer {
        background: linear-gradient(0, var(--bg), var(--bg) 50%, #fff 50%, #fff);

        &-content {
            font: 400 clamp(14px, 1.5vw, 18px)/1.56 vars.$font-default;
            letter-spacing: .02em;
            border-radius: 16px;
            border: 8px solid var(--white);
            background: var(--accent-13);
            padding: 16px 24px;
        }
    }
}

.manager {
    @include vars.before('xl') {
        text-align: center;
    }
    @include vars.from('xl') {
        width: 512px;
    }

    picture {
        border: 2px solid var(--accent-13);
        width: 240px;
        aspect-ratio: 3 / 4;
        border-radius: 64px;
        overflow: hidden;
        @include vars.before('xl') {
            margin-inline: auto;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__name {
        margin-top: 16px;
        font: 500 20px/1.6 vars.$font-default;
    }
    &__job {
        font: 400 15px/24px vars.$font-default;
        color: var(--text-2);
    }
}
