mixin card-collection
    .card-collection
        .card-collection__bg
            +picture('/img/objects/image-collection')
        .card-collection__content
            .card-collection__main
                .card-collection__title Недвижимость на юге Москвы
                .card-collection__link
                    a(href='#') 
                        | Подробнее
                        span: +icons('#ic_arr-right')