mixin card-collection(data)

    .card-collection
        .card-collection__bg
            +picture(data.image)
        .card-collection__content

            if data.sticker 
                .card-collection__sticker
                    span Выгодное <br> предложение

            .card-collection__main
                .card-collection__title= data.title
                .card-collection__link
                    a(href='#') 
                        | Подробнее
                        span: +icons('#ic_arr-right')