@use "../../../../styles/vars";

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: vars.$z-header;

    &.white {
        border-bottom: 1px solid vars.$color-accent-13;
        position: sticky;
        background: var(--white);
    }
}

body.is-fixed-header {
    & header {
        position: fixed;

        & .container {

            padding: 0;

            @media screen and (min-width: vars.$w576) {
                padding: 0 20px;
            }
        }
    }

    & .header {
        --ink: #{vars.$color-text-1};
        --paper: #{vars.$color-white};
        box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.1);
        border-radius: 0;
        padding: 16px 16px;

        @media screen and (min-width: vars.$w576) {
            padding: 14px 14px;
            border-radius: 0 0 24px 24px;
        }

        @media screen and (min-width: vars.$w1440) {
            padding: 20px 20px;
            border-radius: 0 0 24px 24px;
        }

        &__phone,
        &__nav {
            & a {

                font-weight: 500;

                &::before {
                    background-color: var(--accent-11);
                }
            }
        }

        &__burger {
            border: 2px solid rgba(58, 94, 86, 0.2);
        }

        &__wishlist {
            & a {
                border: 2px solid rgba(58, 94, 86, 0.2);
            }

            & svg {
                fill: var(--accent-11);

                @media screen and (max-width: vars.$w1440) {
                    width: 21px;
                }
            }
        }

        &__logo {
            & span {
                display: none;

                &.logo-color {
                    display: block;
                }
            }
        }

        & .icon-burger span {
            background-color: var(--accent-11);
            transition: 0.5s ease;
        }

        & .btn-gold {
            background-color: var(--accent-11);

            &::before {
                background-color: var(--accent);
            }
        }

        & .btn-green {
            background-color: var(--accent);

            &::before {
                background-color: var(--accent-11);
            }
        }

        & .hover-ripple {

            transition: 0.5s ease;

            & svg {
                transition: 0.6s ease;
            }

            &::before {
                background-color: var(--accent-11);
            }

            &:hover {

                border-color: var(--accent-11);

                & svg {
                    fill: #fff;
                }

                & .icon-burger span {
                    background-color: #fff;
                }
            }
        }


    }
}

.header {
    $ancestor: &;

    --ink: #{vars.$color-white};
    --paper: transparent;

    display: flex;
    padding: 12px 0;
    background-color: var(--paper);

    @media screen and (min-width: vars.$w1200) {
        padding: 32px 0;
    }

    &__burger {
        width: 48px;
        height: 48px;
        border-radius: 12px;
        border: 2px solid rgba(255, 255, 255, 0.20);
        background: transparent;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (min-width: vars.$w1440) {
            width: 56px;
            height: 56px;
        }

        @media screen and (min-width: vars.$w992) {
            width: 50px;
            height: 50px;
        }
    }

    &__left {
        @media screen and (min-width: vars.$w992) {
            width: calc(50% - 100px);
            display: flex;
            align-items: center;
            gap: 16px;
        }

        @media screen and (min-width: vars.$w1200) {
            gap: 32px;
        }
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 12px;

        @media screen and (min-width: vars.$w992) {
            width: calc(50% - 100px);
            display: flex;
            justify-content: flex-end;
        }
    }

    &__logo {

        flex-grow: 1;
        display: flex;
        justify-content: center;

        @media screen and (min-width: vars.$w992) {
            width: 200px;
        }

        & span {
            height: 48px;
            width: 150px;
            @include vars.bgimage-contain;

            @media screen and (min-width: vars.$w1200) {
                height: 48px;
            }

            @media screen and (min-width: vars.$w1440) {
                height: 56px;
            }

            &.logo-color {
                display: none;
            }
        }


    }

    &__nav {
        display: none;

        @media screen and (min-width: vars.$w1200) {
            display: flex;
            align-items: center;

            .main-menu {
                display: flex;
                gap: 16px;

                & > li {
                    position: relative;
                    &:hover {
                        .submenu-wrapper {
                            max-height: none;
                            animation: max-height-animation;
                            animation-duration: .5s;
                        }
                    }
                }

                @media screen and (min-width: vars.$w1200) {
                    gap: 30px;
                }

                & > li > a {
                    color: var(--ink);
                    letter-spacing: .02em;
                    position: relative;
                    font-weight: 500;

                    &::before {
                        content: '';
                        height: 1px;
                        display: inline-block;
                        position: absolute;
                        top: 100%;
                        background-color: var(--ink);
                        width: 0;
                        transition: 0.3s ease;
                    }

                    &:hover {
                        &::before {
                            width: 100%;
                        }
                    }

                    @media screen and (min-width: vars.$w1200) {
                        font-size: 18px;
                    }
                }
            }
            .submenu {
                background: var(--accent-12);
                padding: 20px;
                border-radius: 16px;
                font: 400 16px/1.5 vars.$font-default;
                letter-spacing: .02em;
                --ink: var(--text-1);
                white-space: nowrap;

                &-wrapper {
                    padding-top: 16px;
                    position: absolute;
                    overflow: hidden;
                    max-height: 0;
                }

                &-pre {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    margin-bottom: 20px;
                    & > li {
                        background: var(--white);
                        height: 36px;
                        border-radius: 18px;

                        &.accent {
                            background: var(--accent);
                            color: var(--white);
                            &:hover {
                                background: var(--accent-22);
                                color: var(--white);
                            }
                        }

                        &:hover {
                            background: var(--accent-12);
                            color: var(--accent-11);
                        }

                        .icon {
                            width: 24px;
                            height: 24px;
                            &.green {
                                color: var(--accent-11);
                            }
                            &.red {
                                color: var(--red);
                            }
                        }

                        a {
                            color: inherit;
                            font: 500 16px/24px vars.$font-default;
                            padding: 6px 16px;
                            display: flex;
                            align-items: center;
                            gap: 8px;

                            span {
                                margin-top: 1px;
                            }
                        }
                    }
                }

                &-main {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;

                    a {
                        &:hover {
                            color: var(--accent-11);
                        }
                    }
                }

                &-post {
                    margin-top: 12px;
                    padding-top: 12px;
                    border-top: 1px solid var(--accent-14);
                    display: flex;
                    flex-direction: column;
                    gap: 12px;

                    a {
                        font-weight: 500;
                        &:hover {
                            color: var(--accent-11);
                        }
                    }
                }
            }
        }
    }



    &__wishlist {

        display: none;

        @media screen and (min-width: vars.$w992) {
            display: block;
        }

        & a {
            width: 48px;
            height: 48px;
            border-radius: 12px;
            border: 2px solid rgba(255, 255, 255, 0.20);

            display: flex;
            align-items: center;
            justify-content: center;

            @media screen and (min-width: vars.$w992) {
                width: 50px;
                height: 50px;
            }

            @media screen and (min-width: vars.$w1440) {
                width: 56px;
                height: 56px;
            }
        }

        @media screen and (min-width: vars.$w992) {
            display: flex;
            align-items: center;
        }

        & svg {
            fill: var(--ink);
        }
    }

    &__phone {
        display: none;
        margin-right: 20px;

        @media screen and (min-width: vars.$w992) {
            display: flex;
            align-items: center;

            & a {
                font-size: 18px;
                font-weight: 500;
                letter-spacing: .06em;
                color: var(--ink);
                position: relative;

                &::before {
                    content: '';
                    height: 1px;
                    display: inline-block;
                    position: absolute;
                    top: 100%;
                    background-color: var(--ink);
                    width: 0;
                    transition: 0.3s ease;
                }

                &:hover {
                    &::before {
                        width: 100%;
                    }
                }
            }
        }
    }

    &__button {
        & .btn {
            @media screen and (max-width: vars.$w1376) {
                font-size: 0;
                padding-left: 5px;
                padding-right: 5px;
                min-width: auto;
                width: 50px;
                height: 50px;
            }

            @media screen and (max-width: vars.$w760) {
                width: 48px;
                height: 48px;
            }
        }
    }

    &_white {
        &#{$ancestor} {
            --ink: #{vars.$color-text-1};
            --paper: #{vars.$color-white};

            .hover-ripple {
                &:before {
                    background-color: vars.$color-accent-11;
                }
                &:hover {
                    border-color: vars.$color-accent-11;
                    --ink: #{vars.$color-white};
                }
            }

            .btn-green {
                padding-inline: 1.4em;
            }
        }
        #{$ancestor} {
            &__logo {
                .logo-color {
                    display: block !important;
                }
            }
            &__nav {
                .main-menu {
                    & > li {
                        &.is-active {
                            --ink: #{vars.$color-accent-11};
                        }
                    }
                }
            }
            &__burger {
                border-color: rgba(vars.$color-accent-11, .2);
                --ink: #{vars.$color-accent-11};
                cursor: pointer;

            }
            &__wishlist {
                a {
                    border-color: rgba(vars.$color-accent-11, .2);
                    --ink: #{vars.$color-accent-11};
                }
            }
        }
    }
}


.icon-burger {

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
    cursor: pointer;
    transition: 0.4s ease;

    width: 24px;
    height: 24px;

    @media screen and (min-width: vars.$w1440) {
        width: 24px;
        height: 24px;
    }

    @media screen and (min-width: vars.$w1200) {
        width: 21px;
        height: 21px;
    }

    & span {
        height: 2px;
        width: 100%;
        display: inline-block;
        background-color: var(--ink);
        border-radius: 2px;
        transition: 0.3s ease;
    }

}

#ham-menu {
    inset: unset;
}
#ham-menu .ham-menu {
    inset: 0;
    position: fixed;
    background: var(--white);

    .container {
        max-width: 1584px;
    }

    &.header__nav {
        flex-direction: column;
    }

    &__header {
        padding-block: 32px 48px;

        button {
            display: flex;
            width: 56px;
            height: 56px;
            background: var(--accent-11);
            color: #fff;
            border: none;
            border-radius: 12px;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover {
                background: var(--accent);
            }

            .icon {
                width: 16px;
                height: 16px;
            }
        }
    }

    .main {
        flex-grow: 1;
        overflow: auto;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 48px;

        .btn-wrapper {
            margin-top: 32px;
        }
    }

    .submenu {
        &-item__title {
            font: 400 24px/36px vars.$font-default;
            letter-spacing: .02em;
            margin-bottom: 24px;
        }

        &-pre {
            gap: 12px;
            li {
                width: fit-content;
            }
            li:not([class]) {
                background: var(--accent-12);
            }
        }

        &-main {
            gap: 16px;
            font: 400 18px/28px vars.$font-default;
        }

        &-post {
            font: 500 18px/28px vars.$font-default;
        }
    }

    &__footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 48px;
        margin-block: 48px;

        &-item {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        &-title {
            font: 400 16px/1.5 vars.$font-default;
        }

        .super-link {
            font: 400 28px/40px vars.$font-default;
            color: var(--accent);
            @include vars.hover {
                color: var(--accent-22);
            }
        }

        .flex-wrapper {
            display: flex;
            gap: 16px;
            align-items: center;

            a {
                display: flex;
                color: var(--accent);
                font-size: 500 16px/1.5 vars.$font-default;
                gap: 8px;

                @include vars.hover {
                    color: var(--accent-22);
                }
            }
        }
    }

    section {
        width: 100%;
    }

    .dark-bg {
        background: var(--accent-12);
    }
}
