mixin tab-content-city
    form(action='#' method='POST')
        .fb-filter__row
            .fb-filter__fields
                .fb-filter__field
                    +select-field({
                        placeholder: 'Покупка',
                        option: [
                            'Покупка',
                            'Аренда',
                            'Субаренда',
                        ]
                    })
                .fb-filter__field
                    +select-field({
                        placeholder: 'Тип недвижимости',
                        option: [
                            'Квартиры',
                            'Котеджи',
                            'Таунхаусы',
                        ]
                    })
                    
                .fb-filter__field
                    +price-field

                .fb-filter__field
                    +select-field({
                        placeholder: 'Район',
                        option: [
                            'Арбат',
                            'Басманный',
                            'Замоскворечье',
                            'Красносельский',
                            'Мещанский',
                            'Пресненский',
                            'Таганский',
                            'Тверской',
                            'Хамовники',
                            'Якиманка',
                        ]
                    })
        .fb-filter__row
            .fb-filter__items
                .fb-filter__item
                    .fb-filter-all
                        span Показать ещё фильтры
                        +icons('#ic_arrow', 16) 
                .fb-filter__item
                    button.btn.btn-line
                        +icons('#ic_loc')
                        span Смотреть на карте
                .fb-filter__item
                    button.btn.btn-line
                        +icons('#ic_house')
                        span Подобрать недвижимость
        .fb-filter__row
            .fb-filter__selections
                ul
                    li: a(href='#') Купить квартиру в центре Москвы
                    li: a(href='#') Купить участок в Подмосковье
                    li: a(href='#') Сервисные апартаменты
                    li: a(href='#') Квартиры с террасами
                    li: a(href='#') Патриаршие пруды
                    li: a(href='#') Квартиры для большой семьи


mixin tab-content-village
    form(action='#' method='POST')
        .fb-filter__row
            .fb-filter__fields
                .fb-filter__field
                    +select-field({
                        placeholder: 'Покупка',
                        option: [
                            'Покупка',
                            'Аренда',
                            'Субаренда',
                        ]
                    })
                .fb-filter__field
                    +select-field({
                        placeholder: 'Тип недвижимости',
                        option: [
                            'Дома',
                            'Особняки',
                            'Котеджи',
                            'Таунхаусы',
                        ]
                    })
                    
                .fb-filter__field
                    +price-field

                .fb-filter__field
                    +select-field({
                        placeholder: 'Шоссе',
                        option: [
                            'Новорижское',
                            'Рублево-успенское',
                        ]
                    })
        .fb-filter__row
            .fb-filter__items
                .fb-filter__item
                    .fb-filter-all
                        span Показать ещё фильтры
                        +icons('#ic_arrow', 16) 
                .fb-filter__item
                    button.btn.btn-line
                        +icons('#ic_loc')
                        span Смотреть на карте
                .fb-filter__item
                    button.btn.btn-line
                        +icons('#ic_house')
                        span Подобрать недвижимость
        .fb-filter__row
            .fb-filter__selections
                ul
                    li: a(href='#') Дома до 300м
                    li: a(href='#') Купить участок в Подмосковье
                    li: a(href='#') С выходом к озеру 
                    li: a(href='#') 10 минут от города
                    li: a(href='#') Патриаршие пруды
                    li: a(href='#') Дом для большой семьи

mixin first-block  
    section.section-first-block
        .container
            .first-block
                .first-block__bg
                    +picture('/img/other/img-big')
                .first-block__wrp
                    .first-block__title
                        h1 
                            | Метриум Премиум
                            span Элитная недвижимость в Москве и Подмосковье
                    .first-block__fastlink
                        ul
                            li: a(href='#') Лучшие предложения
                            li: a(href='#') Эксклюзивные лоты
                            li: a(href='#') Самые престижные районы
                            li: a(href='#') Москва и Подмосковье

                    .first-block__filter
                        .fb-filter
                            .fb-filter__tab
                                ul
                                    li: span Городская
                                    li: span Загородная
                            .fb-filter__tab-container

                                .fb-filter__tab-content: +tab-content-city
                                .fb-filter__tab-content: +tab-content-village

                    .first-block__adv
                        .fb-advantages
                            .fb-advantages__list
                                .fb-advantages__item
                                    .fb-card-adv
                                        .fb-card-adv__title > 10 лет
                                        .fb-card-adv__desc на рынке премиальной недвижимости
                                .fb-advantages__item
                                    .fb-card-adv
                                        .fb-card-adv__title > 10 тысяч
                                        .fb-card-adv__desc клиентов в Москве и Московской области
                                .fb-advantages__item
                                    .fb-card-adv
                                        .fb-card-adv__title > 50 экспертов
                                        .fb-card-adv__desc экспертов в сегментах премиум и элит
                                .fb-advantages__item
                                    .fb-card-adv
                                        .fb-card-adv__title > 600 объектов
                                        .fb-card-adv__desc среди наших предложений недвижимости



