@use "../vars";

.seo-text {
    h3 {
        font: 400 24px/36px vars.$font-captions;
        letter-spacing: .04em;
        margin-block: 24px 12px;
        @include vars.from('md') {
            font: 400 36px/48px vars.$font-captions;
            margin-block: 40px 16px;
        }
    }

    p {
        font: 400 14px/20px vars.$font-default;
        letter-spacing: .02em;
        margin-block: 8px;
        @include vars.from('md') {
            font: 400 16px/1.5 vars.$font-default;
            margin-block: 12px;
        }
    }


}
